# Created by .ignore support plugin (hsz.mobi)
/dist/
/node_modules/
/.idea/
/data/oldIntesa/
/data/event_D0002.json
/data/event_C0001.json
/data/event_D0003.json
/data/ISP_1d_1h.json
/data/event_D0001.json
/data/event_C0002.json
/data/event_C0003.json
/data/event_D0004.json
/data/ISP_1y_1d.json
/data/ISP_3m_1d.json
/data/ISP_1y_1m.json
/data/ISP_1d_1mm_events.json
/data/ISP_MPS_1m_1d.json
/data/ISP_all_1d.json
/data/ISP_6m_1d.json
/data/ISP_MPS_1m_1d_events.json
/data/ISP_MPS_1d_1mm_events.json
/data/ISP_5y_1m.json
/data/ISP_3m_1h.json
/data/ISP_all_1m.json
/data/ISP_MPS_1d_1mm.json
/data/ISP_5y_1d.json
/data/ISP_3y_1d.json
/data/original.json
/data/MPS_1d_1mm.json
/data/save
/npm-debug.log
/package-lock.json
lib/
package-lock.json
src/actions/index.js
src/components/
src/i18n/
src/reducers/index.js
src/resources/
src/route/
/.idea/vcs.xml
