//.react-stockcharts-candlestick {
//  .react-stockcharts-candlestick-wick {
//    stroke-width: 2px;
//  }
//
//  .react-stockcharts-candlestick-candle {
//    stroke-linejoin: round;
//  }
//}
body {
  font-size: 1pc;
  font-family: ArialMT,Arial;
  background: white;
  /* padding: 20px; */
  overflow: scroll;
  margin: 0;}

