//.react-stockcharts-candlestick {
//  .react-stockcharts-candlestick-wick {
//    stroke-width: 2px;
//  }
//
//  .react-stockcharts-candlestick-candle {
//    stroke-linejoin: round;
//  }
//}
body {
  font-size: 1pc;
  font-family: ArialMT,Arial;
  background-color: green;
}

